In [151]:
# Reading the matches_latest dataset in python
import pandas as pd
match=pd.read_csv('matches_latest.csv')

In [152]:
# Checking the type of this match data structure created above
type(match)

pandas.core.frame.DataFrame

In [153]:
# Visualizing the top 5 rows of this match dataframe
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [154]:
# Visualizing all the unique elements under the "match_type" column of the match dataframe above
match['match_type'].unique()

array(['League', 'Semi Final', 'Final', '3rd Place Play-Off',
       'Qualifier 1', 'Elimination Final', 'Qualifier 2', 'Eliminator'],
      dtype=object)

In [155]:
# Visualizing all the unique elements under the "result" column of the match dataframe above
match['result'].unique()

array(['runs', 'wickets', 'tie', 'no result'], dtype=object)

In [156]:
# Visualizing all the unique elements under the "target_overs" column of the match dataframe above
match['target_overs'].unique()

array([20. , 16. ,  8. , 18. ,  6. ,  9.2, 17. , 10. , 13. ,  nan, 12. ,
        5. , 11. ,  9. , 14. , 15. ])

In [157]:
# Visualizing the no. of unique characters under the "method" column of the match dataframe above
match['method'].unique()

array([nan, 'D/L'], dtype=object)

In [158]:
# Checking the no. of rows and columns in this match dataframe
match.shape

(1095, 20)

In [159]:
# Visualizing the column-names of this match dataframe together
match.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [160]:
# Checking how many null values are there in each columns of this match dataframe
match.isnull().sum()

id                    0
season                0
city                 51
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin        19
target_runs           3
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

In [161]:
# Reading the deliveries_latest dataset in python
delivery=pd.read_csv('deliveries_latest.csv')

In [162]:
# Checking the type of this delivery data structure created above
type(delivery)

pandas.core.frame.DataFrame

In [163]:
# Visualizing the top 5 rows of this delivery dataframe
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [164]:
# Visualizing the no. of unique characters under the "dismissal_kind" column of the delivery dataframe above
delivery['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field', 'retired out'], dtype=object)

In [165]:
# Checking the elements under the "fielder" column where "dismissal kind" is 'stumped'
delivery[delivery['dismissal_kind']=='stumped']

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
795,335985,1,Mumbai Indians,Royal Challengers Bangalore,16,5,RV Uthappa,B Akhil,AM Nayar,0,0,0,NaN,1,RV Uthappa,stumped,MV Boucher
1223,335987,1,Kings XI Punjab,Rajasthan Royals,7,4,DPMD Jayawardene,D Salunkhe,JR Hopes,0,0,0,NaN,1,DPMD Jayawardene,stumped,Kamran Akmal
1892,335990,1,Deccan Chargers,Rajasthan Royals,2,2,AC Gilchrist,YK Pathan,VVS Laxman,0,0,0,NaN,1,AC Gilchrist,stumped,Kamran Akmal
4824,336002,1,Deccan Chargers,Royal Challengers Bangalore,11,2,HH Gibbs,A Kumble,AC Gilchrist,0,0,0,NaN,1,HH Gibbs,stumped,SP Goswami
5049,336003,1,Kings XI Punjab,Kolkata Knight Riders,8,6,Yuvraj Singh,Mohammad Hafeez,SE Marsh,0,0,0,NaN,1,Yuvraj Singh,stumped,WP Saha
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251919,1426272,1,Chennai Super Kings,Lucknow Super Giants,12,2,Sameer Rizvi,KH Pandya,RA Jadeja,0,0,0,NaN,1,Sameer Rizvi,stumped,KL Rahul
252273,1426273,2,Delhi Capitals,Sunrisers Hyderabad,8,5,Abishek Porel,M Markande,T Stubbs,0,1,1,wides,1,Abishek Porel,stumped,H Klaasen
258937,1426302,2,Lucknow Super Giants,Delhi Capitals,3,1,MP Stoinis,AR Patel,DJ Hooda,0,0,0,NaN,1,MP Stoinis,stumped,RR Pant
259008,1426302,2,Lucknow Super Giants,Delhi Capitals,14,4,KH Pandya,Kuldeep Yadav,Arshad Khan,0,0,0,NaN,1,KH Pandya,stumped,RR Pant
260426,1426310,2,Rajasthan Royals,Royal Challengers Bengaluru,10,1,SV Samson,KV Sharma,R Parag,0,1,1,wides,1,SV Samson,stumped,KD Karthik

In [166]:
# Checking the no. of rows and columns in this delivery dataframe
delivery.shape

(260920, 17)

In [167]:
# Visualizing the column-names of this delivery dataframe together
delivery.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [168]:
# Checking how many null values are there in each columns of the delivery dataframe
delivery.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs               0
extras_type         246795
is_wicket                0
player_dismissed    247970
dismissal_kind      247970
fielder             251566
dtype: int64

In [169]:
# We have to take our input variables and output variables as below
final=[
    {'batting_team':'Kolkata Knight Riders','bowling_team':'Chennai Super Kings','city':'Kolkata','runs_left':208,'balls_left':108,'wickets_left':8,'target_runs':211,'crr':1.5,'rrr':11.56,'result':0}
]

In [170]:
# Checking the type of this "final" data structure created above
type(final)

list

In [171]:
# Converting this "final" list into "final_df" dataframe
final_df_demo=pd.DataFrame(final)
final_df_demo

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
0,Kolkata Knight Riders,Chennai Super Kings,Kolkata,208,108,8,211,1.5,11.56,0

Here, all the variables except "result" are the input variables and "result" is the output variable. Finally, by taking all the inputs at any certain point of time during the second innings, our model will predict whether the batting team will win or lose with certain probabilities

In [172]:
# Calculating total runs by matches and innings from the delivery dataframe
#total_runs_x=delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()   # reset_index resets the index of the created data structure to the default one
#total_runs_x

In [173]:
# Extracting the rows from the "total_runs_x" dataframe only of 1st innings
#total_runs_1st=total_runs_x[total_runs_x['inning']==1]
#total_runs_1st

In [174]:
# Merging the columns "match_id" and "inning" of the "total_runs_1st" dataframe in the "match" data
#match_merged=match.merge(total_runs_1st[['match_id','total_runs']],left_on='id',right_on='match_id')
#match_merged.head()

We can see that the total_runs is one run less from the target_runs in the above match_merged dataframe

In [175]:
# Creating the list of teams what I want (These teams play IPL now)
teams=[
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals'
]

In [176]:
# Visualizing the no. of unique teams under the "team1" column of the match dataframe above
sorted(match['team1'].unique())

['Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Royal Challengers Bengaluru',
 'Sunrisers Hyderabad']

In [177]:
# Visualizing the no. of unique teams under the "team2" column of the match dataframe above
sorted(match['team2'].unique())

['Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Royal Challengers Bengaluru',
 'Sunrisers Hyderabad']

In [178]:
# Comparing whether the list of teams in team1 is same with the list of teams in team2
sorted(match['team1'].unique())==sorted(match['team2'].unique())

True

In [179]:
# Renaming the same two teams of the match dataframe above with the current team names
match['team1']=match['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match['team1']=match['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match['team2']=match['team2'].str.replace('Delhi Daredevils','Delhi Capitals')
match['team2']=match['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [180]:
# Visualizing the no. of unique characters under the "team1" column of the match dataframe above
sorted(match['team1'].unique())

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Royal Challengers Bengaluru',
 'Sunrisers Hyderabad']

In [181]:
# Visualizing the no. of unique characters under the "team2" column of the match dataframe above
sorted(match['team2'].unique())

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Royal Challengers Bengaluru',
 'Sunrisers Hyderabad']

In [182]:
# Keeping the rows where the team will be any team from "teams" list
match=match[match['team1'].isin(teams)]
match=match[match['team2'].isin(teams)]
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [183]:
## We don't want the matches effected by "Duckworth–Lewis–Stern (D/L) method" as the results of those matches are not actual
# Checking how many matches are effected by DLS and how many are not in the recent match dataframe
match['method'].unique()

array([nan, 'D/L'], dtype=object)

In [184]:
# Extracting the matches not effected by DLS
match=match[match['method']!='D/L']
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [185]:
# Checking how many matches are effected by DLS and how many are not in the recent match dataframe
match['method'].unique()

array([nan], dtype=object)

In [186]:
# Extracting the needed columns for getting our input variables from recent match dataframe
match=match[['id','city','winner','target_runs']]
match.head()

       id        city                       winner  target_runs
0  335982   Bangalore        Kolkata Knight Riders        223.0
1  335983  Chandigarh          Chennai Super Kings        241.0
2  335984       Delhi             Delhi Daredevils        130.0
3  335985      Mumbai  Royal Challengers Bangalore        166.0
4  335986     Kolkata        Kolkata Knight Riders        111.0

In [187]:
# Merging the above extracted data with the delivery data
delivery_merged=match.merge(delivery,left_on='id',right_on='match_id')
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Kolkata Knight Riders,223.0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,223.0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,223.0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,223.0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,223.0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [188]:
# Visualizing the no. of unique characters under the "inning" column of the delivery_merged dataframe above
delivery_merged['inning'].unique()

array([1, 2, 3, 4, 5, 6])

In [189]:
# Extracting the data of 2nd innings only because we want the final outcomes during the 2nd innings
delivery_merged=delivery_merged[delivery_merged['inning']==2]
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN

In [190]:
# Calculating current scores after each balls of 2nd innings in the delivery_merged dataframe
delivery_merged['current_score']=delivery_merged.groupby('match_id')['total_runs'].cumsum()
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4

In [191]:
# Calculating the no. of runs left in the delivery_merged dataframe
delivery_merged['runs_left']=delivery_merged["target_runs"]-delivery_merged['current_score']
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222.0
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,0,1,1,wides,0,NaN,NaN,NaN,2,221.0
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221.0
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220.0
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219.0

In [192]:
# Calculating the no. of balls left in the delivery_merged dataframe
delivery_merged['balls_left']=120-(delivery_merged['over']*6+delivery_merged['ball'])
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,1,NaN,0,NaN,NaN,NaN,1,222.0,119
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,1,1,wides,0,NaN,NaN,NaN,2,221.0,118
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,NaN,0,NaN,NaN,NaN,2,221.0,117
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,1,NaN,0,NaN,NaN,NaN,3,220.0,116
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,1,NaN,0,NaN,NaN,NaN,4,219.0,115

In [193]:
# Calculating the no. of wickets left in the delivery_merged dataframe
delivery_merged['player_dismissed']=delivery_merged['player_dismissed'].fillna("0")
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,1,NaN,0,0,NaN,NaN,1,222.0,119
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,1,1,wides,0,0,NaN,NaN,2,221.0,118
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,NaN,0,0,NaN,NaN,2,221.0,117
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,1,NaN,0,0,NaN,NaN,3,220.0,116
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,1,NaN,0,0,NaN,NaN,4,219.0,115

In [194]:
delivery_merged['player_dismissed']=delivery_merged['player_dismissed'].apply(lambda x:x if x=="0" else "1")
delivery_merged['player_dismissed']=delivery_merged['player_dismissed'].astype('int')
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,1,NaN,0,0,NaN,NaN,1,222.0,119
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,1,1,wides,0,0,NaN,NaN,2,221.0,118
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,NaN,0,0,NaN,NaN,2,221.0,117
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,1,NaN,0,0,NaN,NaN,3,220.0,116
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,1,NaN,0,0,NaN,NaN,4,219.0,115

In [198]:
delivery_merged['wickets']=delivery_merged.groupby('match_id')['player_dismissed'].cumsum()
delivery_merged['wickets_left']=10-delivery_merged['wickets']
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,wickets_left
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,NaN,0,0,NaN,NaN,1,222.0,119,0,10
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,wides,0,0,NaN,NaN,2,221.0,118,0,10
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,NaN,0,0,NaN,NaN,2,221.0,117,0,10
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,NaN,0,0,NaN,NaN,3,220.0,116,0,10
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,NaN,0,0,NaN,NaN,4,219.0,115,0,10

In [200]:
# Calculating current run rates (crr=run/over) in the delivery_merged dataframe
delivery_merged['crr']=delivery_merged['current_score']/((120-delivery_merged['balls_left'])/6)
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,wickets_left,crr
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,0,NaN,NaN,1,222.0,119,0,10,6.0
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,0,0,NaN,NaN,2,221.0,118,0,10,6.0
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,NaN,NaN,2,221.0,117,0,10,4.0
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,0,NaN,NaN,3,220.0,116,0,10,4.5
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,0,NaN,NaN,4,219.0,115,0,10,4.8

In [201]:
# Calculating required run rates (rrr=run/over) in the delivery_merged dataframe
delivery_merged['rrr']=delivery_merged['runs_left']/((delivery_merged['balls_left'])/6)
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,wickets_left,crr,rrr
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,NaN,NaN,1,222.0,119,0,10,6.0,11.193277
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,0,NaN,NaN,2,221.0,118,0,10,6.0,11.237288
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,NaN,NaN,2,221.0,117,0,10,4.0,11.333333
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,NaN,NaN,3,220.0,116,0,10,4.5,11.379310
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,NaN,NaN,4,219.0,115,0,10,4.8,11.426087

In [208]:
# Calculating results whether batting team has won or not in the delivery_merged dataframe
def result(row):
    return 1 if row['winner']==row['batting_team'] else 0

In [209]:
delivery_merged['result']=delivery_merged.apply(result,axis=1)
delivery_merged.head()

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,...,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,wickets_left,crr,rrr,result
124,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,NaN,NaN,1,222.0,119,0,10,6.0,11.193277,0
125,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,NaN,NaN,2,221.0,118,0,10,6.0,11.237288,0
126,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,NaN,NaN,2,221.0,117,0,10,4.0,11.333333,0
127,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,NaN,NaN,3,220.0,116,0,10,4.5,11.379310,0
128,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,NaN,NaN,4,219.0,115,0,10,4.8,11.426087,0

In [210]:
# Extracting the input features according to our need from the delivery_merged dataframe
final_df=delivery_merged[['batting_team','bowling_team','city','runs_left','balls_left',"wickets_left",'target_runs','crr','rrr','result']]
final_df.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222.0,119,10,223.0,6.0,11.193277,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221.0,118,10,223.0,6.0,11.237288,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221.0,117,10,223.0,4.0,11.333333,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220.0,116,10,223.0,4.5,11.379310,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219.0,115,10,223.0,4.8,11.426087,0

In [211]:
# Randomly shuffling the rows of the final_df dataframe to avoid biases while model training
final_df=final_df.sample(final_df.shape[0])
final_df.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
8656,Deccan Chargers,Delhi Daredevils,Delhi,107.0,59,7,195.0,8.655738,10.881356,0
39744,Kolkata Knight Riders,Mumbai Indians,Kolkata,116.0,101,10,134.0,5.684211,6.891089,1
161005,Delhi Capitals,Sunrisers Hyderabad,NaN,135.0,38,4,220.0,6.219512,21.315789,0
12469,Rajasthan Royals,Kings XI Punjab,Chandigarh,88.0,33,5,222.0,9.241379,16.000000,0
106512,Rajasthan Royals,Royal Challengers Bangalore,Pune,96.0,39,6,181.0,6.296296,14.769231,0

In [51]:
# Checking how many rows are there in the final_df dataset
final_df.shape[0]

95494

In [52]:
# Checking the data types of each columns of the final_df dataframe
final_df.dtypes

batting_team     object
bowling_team     object
city             object
runs_left       float64
balls_left        int64
wickets_left      int64
target_runs     float64
crr             float64
rrr             float64
result            int64
dtype: object

In [53]:
# Changing the data types of the "runs_left" and "target_runs" columns of the final_df dataframe from float to integer
final_df['runs_left']=final_df['runs_left'].astype(int)
final_df['target_runs']=final_df['target_runs'].astype(int)
final_df.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
45055,Deccan Chargers,Mumbai Indians,Hyderabad,72,26,3,173,6.446809,16.615385,0
186025,Royal Challengers Bangalore,Chennai Super Kings,Bengaluru,122,66,8,227,11.666667,11.090909,0
164567,Delhi Capitals,Chennai Super Kings,Mumbai,54,42,10,189,10.384615,7.714286,1
14525,Chennai Super Kings,Delhi Daredevils,Durban,56,41,7,190,10.177215,8.195122,0
43328,Kings XI Punjab,Deccan Chargers,Hyderabad,116,93,10,166,11.111111,7.483871,1

In [54]:
# Checking if there are any missing values in this final_df dataframe
final_df.isnull().sum()

batting_team       0
bowling_team       0
city            6012
runs_left          0
balls_left         0
wickets_left       0
target_runs        0
crr                0
rrr               12
result             0
dtype: int64

In [55]:
# Dropping the rows containing the missing values in this final_df dataframe
final_df.dropna(inplace=True)

In [56]:
# Checking how many missing values are there after dropping the rows containing the missing values in this final_df dataframe
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets_left    0
target_runs     0
crr             0
rrr             0
result          0
dtype: int64

In [57]:
# Checking the current final_df dataframe after dropping the rows containing the missing values in this final_df dataframe
final_df.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
45055,Deccan Chargers,Mumbai Indians,Hyderabad,72,26,3,173,6.446809,16.615385,0
186025,Royal Challengers Bangalore,Chennai Super Kings,Bengaluru,122,66,8,227,11.666667,11.090909,0
164567,Delhi Capitals,Chennai Super Kings,Mumbai,54,42,10,189,10.384615,7.714286,1
14525,Chennai Super Kings,Delhi Daredevils,Durban,56,41,7,190,10.177215,8.195122,0
43328,Kings XI Punjab,Deccan Chargers,Hyderabad,116,93,10,166,11.111111,7.483871,1

In [58]:
# Checking how many rows are dropped due to the presence of missing values from the final_df dataframe
95494-final_df.shape[0]

6024

In [59]:
# Checking if there are any infinite values in this final_df dataframe
final_df.describe()

d:\Practice\amar\lib\site-packages\numpy\_core\_methods.py:52: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
count,89470.000000,89470.000000,89470.000000,89470.000000,89470.000000,8.947000e+04,89470.000000
mean,93.645971,62.624243,7.523226,167.593696,7.507751,NaN,0.519280
std,50.507447,33.408681,2.152979,30.199116,2.313437,NaN,0.499631
min,-5.000000,-2.000000,0.000000,63.000000,0.000000,-inf,0.000000
25%,54.000000,34.000000,6.000000,148.000000,6.321429,7.220339e+00,0.000000
50%,93.000000,63.000000,8.000000,166.000000,7.533333,8.962025e+00,1.000000
75%,131.000000,91.000000,9.000000,187.000000,8.732673,1.116667e+01,1.000000
max,278.000000,119.000000,10.000000,278.000000,36.000000,inf,1.000000

We can see that the minimum of "rrr" column is "-inf" and the maximum of "rrr" column is 'inf' in the final_df dataframe

The "rrr" column contains "-inf" and "inf" values in those rows of the final_df dataframe, where there are some runs left but no balls left

So, we'll remove those rows from the final_df dataframe, which have the no. of balls left as "0"

In [60]:
# Removing all the rows from the final_df dataframe where "balls_left" is 0
final_df=final_df[final_df['balls_left']!=0]

In [61]:
# Checking if there are any infinite values in this final_df dataframe after removing all the rows from the final_df dataframe where "balls_left" is 0
final_df.describe()

,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
count,89178.000000,89178.000000,89178.000000,89178.000000,89178.000000,89178.000000,89178.000000
mean,93.881148,62.829296,7.538653,167.549306,7.506249,10.641508,0.520711
std,50.411501,33.270274,2.137773,30.201752,2.315987,14.419736,0.499574
min,-5.000000,-2.000000,0.000000,63.000000,0.000000,-516.000000,0.000000
25%,54.000000,35.000000,6.000000,148.000000,6.315789,7.212121,0.000000
50%,93.000000,64.000000,8.000000,166.000000,7.531915,8.949153,1.000000
75%,131.000000,92.000000,9.000000,187.000000,8.732673,11.142857,1.000000
max,278.000000,119.000000,10.000000,278.000000,36.000000,714.000000,1.000000

In [62]:
# Defining our independent and dependent variables in the final_df dataframe
x=final_df.iloc[:,:-1]
y=final_df.iloc[:,-1]

In [63]:
# Visualizing the top 5 rows of the independent variable matrix created above
x.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr
45055,Deccan Chargers,Mumbai Indians,Hyderabad,72,26,3,173,6.446809,16.615385
186025,Royal Challengers Bangalore,Chennai Super Kings,Bengaluru,122,66,8,227,11.666667,11.090909
164567,Delhi Capitals,Chennai Super Kings,Mumbai,54,42,10,189,10.384615,7.714286
14525,Chennai Super Kings,Delhi Daredevils,Durban,56,41,7,190,10.177215,8.195122
43328,Kings XI Punjab,Deccan Chargers,Hyderabad,116,93,10,166,11.111111,7.483871

In [64]:
# Visualizing the top 5 rows of the dependent variable created above
y.head()

45055     0
186025    0
164567    1
14525     0
43328     1
Name: result, dtype: int64

In [65]:
# Splitting our whole data into train data and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [66]:
# Transforming our categorical columns into numeric columns of the independent variable matrix
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf=ColumnTransformer([
    ('trf1',OneHotEncoder(drop='first'),['batting_team','bowling_team','city'])
],remainder='passthrough')
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf1', OneHotEncoder(drop='first'),
                                 ['batting_team', 'bowling_team', 'city'])])

In [67]:
# Creating the pipeline of ColumnTransformer and LogisticRegression
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
pipe=Pipeline([
    ('steps1',trf),
    ('steps2',LogisticRegression(solver='liblinear'))
])

In [68]:
# Training the model with x-values and y-values of the training dataset by logistic regression
print(pipe.fit(x_train,y_train))

Pipeline(steps=[('steps1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf1',
                                                  OneHotEncoder(drop='first'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('steps2', LogisticRegression(solver='liblinear'))])

In [69]:
# Predicting the y-values from the x-values of the test dataset (logistic regression)
y_pred_test=pipe.predict(x_test)

In [70]:
# Checking how accurately the model predicts the y-values from the x-xalues of the test dataset (logistic regression)
from sklearn.metrics import accuracy_score
acc_sc=accuracy_score(y_test,y_pred_test)
acc_sc

0.805505718771025

In [71]:
# Checking the losing and winning probabilities for the chasing team at any certain point of time for the test data (logistic regression)
pipe.predict_proba(x_test)

array([[0.08560332, 0.91439668],
       [0.83309738, 0.16690262],
       [0.57477729, 0.42522271],
       ...,
       [0.18198302, 0.81801698],
       [0.02425215, 0.97574785],
       [0.2974597 , 0.7025403 ]], shape=(17836, 2))

Here if we want winning or losing percentage for the chasing team at any certain point of time, then logistic regression will give us the well-distributed probabilities in both outcomes

In [72]:
## What will happen if we apply random forest instead of logistic regression
# Creating the pipeline of ColumnTransformer and RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
pipe1=Pipeline([
    ('steps1',trf),
    ('steps2',RandomForestClassifier())
])

In [73]:
# Training the model with x-values and y-values of the training dataset by random forest classifier
print(pipe1.fit(x_train,y_train))

Pipeline(steps=[('steps1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf1',
                                                  OneHotEncoder(drop='first'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('steps2', RandomForestClassifier())])

In [74]:
# Predicting the y-values from the x-values of the test dataset (random forest classifier)
y_pred_test1=pipe1.predict(x_test)

In [75]:
# Checking how accurately the model predicts the y-values from the x-xalues of the test dataset (random forest classifier)
from sklearn.metrics import accuracy_score
acc_sc1=accuracy_score(y_test,y_pred_test1)
acc_sc1

0.9979816102265082

As this accuracy is very high, so we can predict whether the chasing team will win a match or not at a certain point of time with high confidence

But if we want winning or losing percentage for the chasing team at any certain point of time, then randomforest will give us the probabilities highly biased in one outcome in maximum cases

In [76]:
# Checking the losing and winning probabilities for the chasing team at any certain point of time for the test data (random forest classifier)
pipe1.predict_proba(x_test)

array([[0.  , 1.  ],
       [0.99, 0.01],
       [0.95, 0.05],
       ...,
       [0.01, 0.99],
       [0.  , 1.  ],
       [0.02, 0.98]], shape=(17836, 2))

So, we don't prefer random forest algorithm here

Now, we will apply this code into forming a web application

In [77]:
# Converting the "teams" list into the "teams" array to put into the dropdown inside the "Select the batting team" and "Select the bowling team" box in the website
import numpy as np
np.array(teams)

array(['Sunrisers Hyderabad', 'Mumbai Indians',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Capitals'], dtype='<U27')

In [78]:
# Extracting the unique cities from the final_df dataframe to put into the dropdown inside the "Select the host city" box in the website
final_df['city'].unique()

array(['Hyderabad', 'Bengaluru', 'Mumbai', 'Durban', 'Port Elizabeth',
       'Bangalore', 'Delhi', 'Jaipur', 'Chennai', 'Kolkata', 'Dharamsala',
       'Pune', 'Abu Dhabi', 'Chandigarh', 'Centurion', 'Nagpur',
       'Ahmedabad', 'Kimberley', 'Visakhapatnam', 'Johannesburg',
       'Sharjah', 'Cuttack', 'Dubai', 'Ranchi', 'Navi Mumbai',
       'East London', 'Indore', 'Raipur', 'Bloemfontein', 'Cape Town',
       'Guwahati'], dtype=object)

In [79]:
# Extracting this whole pipe in the form of "pickle" file i.e. into binary format 
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))   # "wb" means "write binary" mode